@if (isLoading) {

    <div id="loading-screen" class="position-fixed top-0 start-0 w-100 h-100 bg-dark bg-opacity-75 d-flex justify-content-center align-items-center" style="z-index: 1050;">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Carregando...</span>
        </div>
    </div>

}

<h1>Página de Usuários</h1>

<div class="container row gap-3 justify-content-center">

    @for (item of usuarios?.content; track $index) {
    
        <div class="card col-sm-6 col-md-4 col-lg-3 mb-3 g-col-6" style="width: 18rem;">
           
            <div class="card-body">

                <h5 class="card-title">{{item.id}}</h5>
                <p class="card-text">{{item.email}}</p>
                <p class="card-text">{{item.nome}}</p>
                <p class="card-text">{{item.role}}</p>
           
            </div>
       
        </div>

    }

</div>